<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskWeb</title>
</head>
<body>
    <h1>Hello
         World!!!</h1>
    {{ data }}

    <form action="#">
        <label for="lang">Language</label>
        <select name="languages" id="lang">
          <option value="javascript">JavaScript</option>
          <option value="php">PHP</option>
          <option value="java">Java</option>
          <option value="golang">Golang</option>
          <option value="python">Python</option>
          <option value="c#">C#</option>
          <option value="C++">C++</option>
          <option value="erlang">Erlang</option>
        </select>
        <input type="submit" value="Submit" />
      </form>
    <h2 >잘생긴 원빈</h2>
</body>
</html>